<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <testsuites>
        <testsuite name="Lapurd">
            <directory>./_tests/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="_tests/coverage" charset="UTF-8" />
    </logging>

    <filter>
        <blacklist>
            <file>vfs://</file>
            <directory>./vendor</directory>
        </blacklist>
    </filter>
</phpunit>
